@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.jakarta{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}
.text-color{
  color: rgba(15, 15, 15, 0.7);
}
.btn-bg{
    background-color: #176AE5;
    border-radius: 20px;
    color: white;
}